.privacy-policy {
  .container {
    h1 {
      font-size: 30px;
      padding-bottom: 30px;
    }
    h2 {
      padding-top: 30px;
      padding-bottom: 15px;
    }

    ul {
      padding-bottom: 30px;
    }
  }
}
